.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; */
  padding-top: 20px;
}
.success-message {
  background-color: darkseagreen;
}
