.form-heading {
  text-align: center;
}
.full-width{
  margin-top: 10px;
}
.image-upload{
  margin-bottom: 20px;
}
.mat-expansion-panel{
  margin-bottom: 16px;
}

.footer-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  position: relative;
  bottom: 4;
  padding: 10px;
  z-index: 1; 
}
.icon-button{
  color: brown;
}

@media (max-width: 740px) {

  .form-heading {
    font-size: 1.5em;
  }

  .footer-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .add-location-button,
  .submit-button {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5em;
  }
}
