.custom-toolbar {
  /* background-color: #e43e38; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mat-icon {
  color: white;
}
.content {
  /* margin-top: 0px; */
  padding: 24px;
  background-color: #f8f9fa;
  height: calc(100vh-56px);
}

.sidenav-container {
  height: 100vh;
  padding-top: 64px;
}

.space-between {
  flex: 1 1 auto;
}

.mat-button {
  border-radius: 10px;
  background-color: white;
}

.mat-icon {
  color: white;
}

.mat-sidenav {
  border-radius: 0px;
  transition: width 0.3s ease;
  margin-top: 64px;
  /* background-color: white; */
}

.tiffin-title {
  font-family: Futura, Avenir, sans-serif;
  font-weight: bold;
}

.tiffin-title-black {
  color: black;
}

.tiffin-title-white {
  color: white;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.image-icon {
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon:hover {
  cursor: pointer;
}
