.mat-card-content {
  font-size: 16px;
}

.content {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

#pie-chart {
  flex: 1;
  max-width: 45%;
  padding: 0;
}

.boxes {
  flex: 1;
  max-width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-card-container {
  text-align: center;
}

.mat-elevation-z3:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
