.displayCard {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px;
  justify-content: center;
}

.basis {
  flex-basis: 31%;
}
.card:hover{
  background-color: white;
}

.mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  position: relative;
  top: -10px !important ;
}

@media (max-width: 1100px) {
  .basis {
    flex-basis: 45%;
  }
}
@media (max-width: 767px) {
  .basis {
    flex-basis: 80%;
  }
}
@media (max-width: 480px) {
  .basis {
    flex-basis: 100%;
  }
}

