.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(19, 20, 20);
}
.mat-mdc-card-header {
  justify-content: center;
}
.mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  position: relative;
  top: -10px !important ;
}

.mat-mdc-card.admin-login {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 800px;
  height: 450px;
  box-shadow: 0 8px 16px rgba(0.1, 0.1, 0.1, 0.1);
  justify-content: center;
  align-items: center;
}
.mat-mdc-form-field {
  margin-bottom: 15px;
  width: 350px;
}
.mat-mdc-card-header {
  font-size: larger;
  margin-bottom: 40px;
}
.input-icon {
  display: flex;
}
.link {
  color: #3f51b5;
  text-decoration: underline;
  cursor: pointer;
}
.image-section {
  width: 400px;
  height: 450px;
  color: white;
  font-weight: bold;
  font-size: larger;
  justify-content: center;
}
.image-section img {
  width: 400px;
  height: 450px;
}
.login-section {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  text-align: center;
}
.mat-form-field .mat-form-field-flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mat-form-field .mat-form-field-prefix {
  margin-right: 16px;
}
